@charset "utf-8";

/** =====================================
 * カラーリング設定
 */
:root {
  --bgcolor: #ccffff;
  --subcolor: #333333;
  --hlcolor: rgb(65, 183, 223);
}


/** =====================================
 * ページ全体の設定
 */
body {              /* ページ全体の設定 */
  /* background-color: var(--bgcolor); */
  background-image: url('background.png');
  background-repeat: repeat;
  width: 100%;
  margin: 0px;
}
header, footer {    /* ヘッダとフッタの背景設定 */
  background-color: var(--subcolor);
  padding: 12px;
  color: #ffffff;
}
main, #header_in, #footer_in{    /* 全体のセンタリング */
  margin: 0 auto;
}
h1 {                /* タイトル */
  margin: 0px;
  padding: 15px 30px 0px;
  font-family: 'Audiowide', cursive;
  font-weight: normal;
  font-size: 3em;
}
h1::first-letter {  /* タイトルの1文字目を青に */
  color: var(--hlcolor);
}
/* ヘッダとフッタの設定 */
header p, footer p {
  text-align: right;
  margin: 5px;
}
header a:link, footer a:link { 
  color: lightblue;
}
header a:visited, footer a:visited {
  color: plum;
}
/* メイン部分設定 */
#main_wrapper {    /* センタリング */
  margin: 0 auto;
}
main {
  min-height: 
}



/** ==================================================
 *   全体レイアウト設定　レスポンシブ対応
 *   サイズ指定などの部分はここで実行
 */

/* 650px以上：PCデフォルト設定 */
main, #header_in, #footer_in {
  min-width: 600px;
  max-width: 850px;
}
main {
  min-height: 75vh;
}
footer {
  min-height: 10vh;
}
#main_wrapper {
  display: table;
  margin: 0 auto;
}
li.top_menu {   /* トップメニューのボタン幅 */
  box-sizing: border-box;
  width: 120px;
}
aside {
  margin: 10px;
}
aside::after {
  content: "";
  clear: both;
  display: table;
}
#solvelog {
  margin: 5px;
  width: 250px;
}
#solvelog_header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* 400px ~ 650px以下 */
@media screen and (max-width: 600px) {
  main, #header_in, #footer_in {
    min-width: 350px;
    max-width: 600px;
  }
}





/** =============================================
 * 画面上部メニュー部分
 * 全部CSSでポップアップさせるので結構長い
 */
menu {
  display: table;
  padding: 0px;
  margin: 10px auto 5px;
}
#menu_header {
  background-color: var(--subcolor);
  color: white;
  padding-left: 10px;
  box-shadow: 1px 1px 5px #777777;
}
menu ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li.top_menu {
  display: table-cell;
  background-image: linear-gradient(#eeeeee, #aaaaaa);
  border-bottom: 5px solid rgb(53, 135, 230);
  box-shadow: 1px 1px 5px #777777;
  text-align: center;
  padding: 5px;
}
ul.dropdown_c {
  text-align: left;
  padding: 5px 0px;
  width: 8em;
  background-image: linear-gradient(to right, #eeeeee, #aaaaaa);
  box-shadow: 3px 3px 3px #777777;
}
.dropdown_cc {
  background-image: linear-gradient(#eeeeee, #aaaaaa);
  box-shadow: 3px 3px 3px #777777;
}
li.topmenu_item {
  margin: 2px 0px;
  padding: 0px 5px;
}
.dropdown_cc {
  text-align: center;
  width: 16em;
  overflow-x: auto;
}

/*　メニューのホバー設定 */
.dropdown_p, .dropdown_cp {
  position: relative;
}
.dropdown_c, .dropdown_cc {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  border: 1px solid black;
  border-radius: 8px;
}
.dropdown_p:hover > .dropdown_c {
  visibility: visible;
  opacity: 1;
}
.dropdown_cp:hover > .dropdown_cc {
  visibility: visible;
  opacity: 1;
}
.dropdown_c {
  top: 100%;
  left: 0px;
}
.dropdown_cc {
  padding: 10px;
  left: 50%;
}


/* メニューホバー時の背景色変更 */
.dropdown_p:hover {
  /* background-color: #52d5fd; */
  background-image: linear-gradient(#c1eaf7, #52d5fd);
  text-decoration: underline;
  cursor: pointer;
}
.dropdown_cp:hover {
  background-image: linear-gradient(to right, #c1eaf7, #52d5fd);
  text-decoration: underline;
  cursor: pointer;
}
.dropdown_cc:hover {
  cursor: text;
}
.last_item_ul li:hover, .last_item:hover{
  background-image: linear-gradient(#c1eaf7, #52d5fd);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

/* ======================= サブメニュー独自のCSS ======================== */

/* URL出力フォーム */
#menu_urlwrite + .dropdown_cc {
  width: 15em;
}
div#menu_urlwrite_form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div#menu_urlwrite_form2 {
  margin-right: 15px;
}
input#menu_urlwrite_ok {
  width: 7em;
  margin: 7px;
}
textarea#url_output {
  resize: none;
}

#menu_imgwrite + .dropdown_cc, 
#menu_pbwrite + .dropdown_cc {
  width: 15em;
  cursor: text;
  left: 30%;
}
#menu_pbread + .dropdown_cc {
  left: 30%;
}
#menu_boardtrans + .dropdown_cc {
  width: 6em;
  text-align: left;
  left: 20%;
}
#menu_dispsize + .dropdown_cc {
  width: 8em;
}
#menu_dispfont + .dropdown_cc {
  width: 7em;
  text-align: left;
  left: 25%;
}
#menu_dispcolor + .dropdown_cc {
  width: 8em;
  text-align: left;
  left: 0%;
}



/** ============================================================
 * キャンバス
 */
#main_board {
  background-color: white;
}


/** ===========================================================
 * ボタン部分
 */
#sub_wrapper {
  display: flex;
  flex-flow: row wrap;
}
div#opform {
  padding: 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: 'space-around';
  align-items: center;
}

#main_board {
  margin: 10px;
}

/* 400px ~ 650px以下 */
@media screen and (max-width: 580px) {
  div#opform {
    flex-flow: row wrap;
  }
}

fieldset {
  padding: 5px auto;
  margin: 5px;
  width: 150px;
  /* background-image: linear-gradient( #cceeff, #ccccff); */
  background-color: #cceeff;
  box-shadow: 2px 2px 4px 4px #ccccff inset;
}
legend {
  font-weight: bold;
}
#edit_form_undoredo {
  float: left;
  margin-right: 10px;
}
#edit_form_clear {
}
#edit_form_kateilevel {
  clear: left;
  margin: 10px 0px 5px;
}
fieldset button {
  padding: 3px 1em;
}
fieldset#support_form input,
fieldset#support_form button {
  margin: 5px 0px;
}

/**
 * 手筋ログ
 */
textarea#solvelog_form {
  resize: none;
  box-shadow: 1px 1px 3px 3px #cccccc inset;
}